<ion-header>

  <ion-navbar color=ink>
    <ion-title>CHOOSE TEACHER</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="ion-content">
  <ion-list>
    <ion-item *ngFor="let tea of teacher" style="background: transparent">
      <ion-avatar item-start>
        <img src="https://119.46.21.249/www/profile/{{tea.tch_username}}.jpg" *ngIf="tea.tch_img != null">
        <img src="assets/imgs/member.png" *ngIf="tea.tch_img == null">
      </ion-avatar>
      <h4><b>{{tea.tch_firstname}} {{tea.tch_lastname}}</b></h4>
      <p>teacher</p>
      <button ion-button color=powderblue style="border-radius: 5px" (click)="SendTo(tea)" small item-end>ส่ง</button>
    </ion-item>
  </ion-list>
</ion-content>
