page-home {
  .bg{
    background-image: linear-gradient(to bottom right, rgb(255, 174, 97), rgb(20, 16, 53));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
  }
  .headertext {
    text-align: center;
    color: white;
    font-size: 30px;
  }
  .headertext1 {
    text-align: center;
    color: white;
    opacity: 0.7;
    font-size: 18px;
  }
  .btn {
    margin-top: 5px;
    background: rgba(230, 190, 96, 0.41);
    color: #FFF;
  }
}
