// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bl:       #525A73,
  ora:   #FEE6D4,
  tora:     #FE7912,
  ink: #193446,
  jasmine: #E9C77B,
  apricot: #E2B49A,
  nantucket: #9AABB9,
  powderblue: #C4D4E0
);




@import "ionic.theme.default";


@import "ionic.ionicons";
@import url('https://fonts.googleapis.com/css?family=Prompt');

@import "roboto";
@import "noto-sans";
