<ion-header>

  <ion-navbar color=ink>
    <ion-title>CHOOSE STUDENT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="ion-content">
  <ion-list radio-group [(ngModel)]="select" style="background: transparent">
    <ion-list-header style="background: transparent">
      <h1>ห้อง ม.{{clas}}</h1>เลือกนักเรียน
    </ion-list-header>

    <ion-item *ngFor="let names of name; let i = index" style="background: transparent">
      <ion-avatar item-start>
        <img *ngIf="names.img_path != null" src="http://paetong.000webhostapp.com/{{names.std_ID}}.jpg">
        <img *ngIf="names.img_path == null" src="assets/imgs/member.png">
      </ion-avatar>
      <ion-label>{{names.std_firstname}} {{names.std_lastname}} ({{names.std_number}})</ion-label>
      <ion-radio value="{{names.std_ID}}" checked="i == 0" color=ink
          (click)="radioClicked(names.std_ID)"></ion-radio>
    </ion-item>
  </ion-list>
  <button ion-button (click)="searchstd()" full color=ink round>เรียกดูแบบละเอียด</button>
</ion-content>
