.menubutton {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}
.icon {
  align-items: flex-start;
  margin-right: 5px;
}

.para {
  font-family: 'Prompt', sans-serif;
}

.pic {
  width: 50%;
  height: 50%;
}
