page-form1update {
  .cardbg {
    border-radius: 15px;
    background: #9AABB9;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
    width: 106%;
  }

  .cardhead {
     text-align: center;
     font-size: 20px;
     color: #FFF;
  }

  .cardcontent1 {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: #E9B49C;
  }

  .cardcontent2 {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: #E9B49C;
    color: #000;
    text-align: inherit;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
  }

  .ion-content {
    background: linear-gradient(#E9C77B, #C4D4E0);
    font-family: 'Prompt', sans-serif;
  }
}
